{% extends 'konsapo_refrigerator_layout.html' %}
{% block content %}
<div class="content ref_reg">
  <form class="" action="/reg_data/fin" method="post">
    <table>
      <tr>
        <th>食材</th>
        <td><input type="text" name="food_name" size="15" for="food_name"></td>
      </tr>
      <tr>
        <th>数量</th>
        <td><input type="text" name="food_amount" size="15" for="food_amount"></td>
      </tr>
      <tr>
        <th>賞味期限</th>
        <td><input type="text" name="food_limit"  size="15" for="food_limit"></td>
      </tr>
      <tr>
        <th>保存場所</th>
        <td>
          <select class="" name="food_place" for="place">
            {{ food_place | safe }}
          </select>
        </td>
      </tr>
    </table>
    <center><input type="submit" value="登録"></center>
  </form>
</div>
{% endblock %}
