{% extends 'konsapo_refrigerator_layout.html' %}
{% block content %}
<div class="content ref_top">
  <table cellspacing="10">
    <tr>
      <td class="move_button"><a href="/reg_data">食材を追加</a></td>
    </tr>
    <tr>
      <td class="move_button"><a href="/foodlist">場所別食材リスト</a></td>
    </tr>
    <tr>
      <td class="move_button"><a href="/suggest_menu">献立提案</a></td>
    </tr>
    <tr>
      <td class="move_button"><a href="/append_place">保存場所の追加</a></td>
    </tr>
  </table>
</div>
{% endblock %}
